/* .share .container .row .sec-col {
  position: relative;
} */

/* .share .container .row .sec-col img:nth-child(1) {
  position: absolute !important;
 
  left: 200px;
}

.share .container .row .sec-col img:nth-child(2) {
  position: absolute !important;
  top: 150px !important;
  left: 50px;
}

.share .container .row .sec-col img:nth-child(3) {
  position: absolute !important;
  top: 150px !important;
  right: 130px;
} */
/* .share .container .row .sec-col img:nth-child(2) {
  position: absolute !important;
  top: 300px !important;
} */

.share .other-images {
  display: flex;
  justify-content: center;
  gap: 70px !important;
}
